
.dos__loader {
  display: none;
}

.dos__message {
  display: none;
}

.dos__page {
  max-width: 1200px;
}

.dos__page .dos__block {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px #0080FF solid;
}

.dos__page .dos__block .row {
  height: 75px;
  align-items: center;
}

.dos__page .dos__block .row.larger {
  height: 150px;
}

.dos__page label {
  font-weight: bold;
}

.dos__page h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #0080FF;
}

.dos__page .dos__block input[type=button],
.dos__page input[type=submit] {
  background: #0080FF;
  box-shadow: none;
  border-radius: 3px;
  border: none;
  font-weight: 300;
  text-shadow: none;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 12px;
  padding: 10px 15px 9px 15px;
  box-sizing: border-box;
  height: auto;
  line-height: 16px;
}

.dos__page .dos__block input[type=button]:hover,
.dos__page input[type=submit]:hover {
  background-color: #0069FF;
}

#message {
  margin: 0;
}